h1{
  color:darkblue;
  font-size: 50px;
  text-align: center;

}
h2{
  color:green;

}
.search
{
  font-size: 30px;
  margin-left: 43%;
}

.file-selection-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.file-selection-card h4 {
  margin-top: 0;
  margin-bottom: 10px;
}
