.card {
    float:left;
     width:35%;
     text-align: center;
    
   
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  select {
    width: 30%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  input[type="checkbox"] {
    margin-right: 10px;
  }
  