.container {
    text-align:center;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin-left:10%;
  }
  
  table {
    width: 80%; /* Adjust the width as per your requirement */
    border-collapse: collapse;
    margin-top: 2%; /* Some margin from the top */
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px 12px;
    text-align: left;
  }
  
  